<input type="checkbox" name="mobile-nav" id="mobile-nav" class="gaadiexp-check" onchange="this.blur()">
<label for="mobile-nav" class="gaadiexp white" tabindex="0"><span></span></label>
<nav role="navigation" class="header-nav">
    <div class="fixed-nav">
        <div class="menu">
            <ul>
                <li class="page_item page-item-2">
                    <a href=" " class="list-group-item">Dashboard </a>
                </li>
                <li class="page_item page-item-2">
                    <a href="profile" class="list-group-item ">Profile</a>
                </li>
                <li class="page_item page-item-2">
                    <a href="cours" class="list-group-item">Cours</a>
                </li>
                <li class="page_item page-item-2">
                    <a href="utilisateur" class="list-group-item">Utilisateurs</a>
                </li>
                <li class="page_item page-item-2">
                  <a href="" class="list-group-item" (click)="logout()">Se Deconnecter</a>
              </li>
            </ul>
        </div>
    </div>
</nav>

